/* styles/ImageSlider.module.css */

.slideContainer {
  position: relative;
  width: 90%;
  margin: auto;
}

.card {
  background-color: var(--background-color);
  color: var(--text-color);
  height: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px var(--shadow-color);
}

.sliderImage {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: auto;
}

.sliderDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideTitle {
  font-weight: 500;
}

.slideButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
}
  
.slideButton:hover {
  background-color: var(--button-hover-background-color);
}
